.foo_4gn20 {
  font-weight: bold
}
.bar_4gn20 {
  color: blue;
  font-size: 15px;
  background-color: #fff;
  transition: width 500ms ease
}
.bar_4gn20:after {
  color: green;
  content: ''
}
@media (max-width: 600px) {
.bar_4gn20 {
  color: orange
}
}
